{% extends 'back.html.twig' %}

{% block title %}Rendez-vous {% endblock %}

{% block body %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                </ol>
            </nav>
        </div>
    <div class="row ">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <div style="display: flex">
                        <div class="col-md-5">
                        </div>
                        <form method="post" class="forms-sample" style="margin-left: -42px" >
                            <div class="form-group col-md-4" style="display: flex; width: 100%!important; margin: 0px!important;">

                                <div class="form-check">
                                    <label class="form-check-label" style="width: 92px;margin-left: -2px;margin-right: 10px;">
                                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="nomRendezvous">Nom</label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label" style="width: 86px;margin-left: -2px;margin-right: 10px;">
                                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="emailRendezvous" >email</label>
                                </div>

                                <div class="form-check">
                                    <label class="form-check-label" style="width: 86px;margin-left: -2px;margin-right: 10px;">
                                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="prenomRendezvous" >prenom</label>
                                </div>

                                <button type="Submit" class="btn btn-success btn-fw" style="margin: auto; ">Sort</button>
                            </div>
                        </form>

                    </div>

                   
    <h1>Rendez-vous </h1>
    <div class="row g-4">
    <div class="col-md-12 ">
       <div class="bg-light rounded h-100 ">
      

    <table class="table">
        <thead>
            <tr>
                <th style="text-color: #FFFFFF;">Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Lieu</th>
                <th>Email</th>
                <th>Date</th>
                <th>QR code </th>
                <th>actions</th>
            </tr>
        </thead>

        <tbody id="myTable">
        <div class="form-group col-md-7">
        <div class="input-group custom-search-form">
        <div class="search-box">
    <input type="text" name="search" id="search" class="form-control" placeholder="Type to Search...">
    </div>
  </div>    
</div>


        {% for rendezvou in rendezvouses %}
            <tr>
                <td>{{ rendezvou.id }}</td>
                <td>{{ rendezvou.nomRendezvous }}</td>
                <td>{{ rendezvou.prenomRendezvous }}</td>
                <td>{{ rendezvou.lieuRendezvous }}</td>
                <td>{{ rendezvou.emailRendezvous }}</td>
                <td>{{ rendezvou.dateRendezvous ? rendezvou.dateRendezvous|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_qr_codes', {'id': rendezvou.id}) }}">qr code</a>
                    <a href="{{ path('app_rendezvous_show', {'id': rendezvou.id}) }}" class="btn btn-square btn-success m-2" ><i class="fa fa-eye"></i></a>
                    <a href="{{ path('app_rendezvous_edit', {'id': rendezvou.id}) }}" class="btn btn-square btn-primary m-2"><i class="fas fa-edit"></i></a>
                    <a href="{{ path('app_Rendezvous_map', {'id': rendezvou.id}) }}" class="btn btn-info rounded-pill m-2" ><i class="fas fa-location-arrow"></i></a>       
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
    </div>

     <a href="{{ path('app_rendezvous_new') }}" class="btn btn-success m-2">Ajouter Rendez-Vous</a>
     
     <a href="{{ path('generator_service1') }}" class="btn btn-success m-2">pdf</a>
     
     <a href="{{ path('stats2') }}" class="btn btn-success m-2">Stat</a>
{% endblock %}
