{% extends 'front.html.twig' %}

{% block title %}Rendezvous{% endblock %}

{% block body %}
    <h1>Rendezvous</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>id</th>
                <td>{{ rendezvou.id }}</td>
            </tr>
            <tr>
                <th>NomRendezvous</th>
                <td>{{ rendezvou.nomRendezvous }}</td>
            </tr>
            <tr>
                <th>PrenomRendezvous</th>
                <td>{{ rendezvou.prenomRendezvous }}</td>
            </tr>
            <tr>
                <th>LieuRendezvous</th>
                <td>{{ rendezvou.lieuRendezvous }}</td>
            </tr>
            <tr>
                <th>EmailRendezvous</th>
                <td>{{ rendezvou.emailRendezvous }}</td>
            </tr>
            <tr>
                <th>DateRendezvous</th>
                <td>{{ rendezvou.dateRendezvous ? rendezvou.dateRendezvous|date('Y-m-d') : '' }}</td>
            </tr>

        </tbody>
    </table>

    <a href="{{ path('app_rendezvous_index') }}">back to list</a>

    <a href="{{ path('app_rendezvous_edit', {'id': rendezvou.id}) }}">edit</a>

    {{ include('rendezvous/_delete_form.html.twig') }}
{% endblock %}
