<!DOCTYPE html>
<html lang="en">
<head>
    <title>ADO-DOC</title>
     <link href="{{asset('assetsB/img/rr.png')}}" rel="icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="{{asset('assetsF/https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700')}}" rel="stylesheet">

    <link rel="stylesheet" href="{{asset('assetsF/css/open-iconic-bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{asset('assetsF/css/animate.css')}}">
    
    <link rel="stylesheet" href="{{asset('assetsF/css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{asset('assetsF/css/owl.theme.default.min.css')}}">
    <link rel="stylesheet" href="{{asset('assetsF/css/magnific-popup.css')}}">

    <link rel="stylesheet" href="{{asset('assetsF/css/aos.css')}}">

    <link rel="stylesheet" href="{{asset('assetsF/css/ionicons.min.css')}}">

    <link rel="stylesheet" href="{{asset('assetsF/css/bootstrap-datepicker.css')}}">
    <link rel="stylesheet" href="{{asset('assetsF/css/jquery.timepicker.css')}}">

    
    <link rel="stylesheet" href="{{asset('assetsF/css/flaticon.css')}}">
    <link rel="stylesheet" href="{{asset('assetsF/css/icomoon.css')}}">
    <link rel="stylesheet" href="{{asset('assetsF/css/style.css')}}">
  </head>
  <body>
    
      <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
        
          <a class="navbar-brand"  href="../rendezvous/rendez" <span>ADO-DOC</span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
          </button>

          <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active"><a href="../rendezvous/rendez" class="nav-link">Home</a></li>
              <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
              <li class="nav-item"><a href="services.html" class="nav-link">Services</a></li>
              <li class="nav-item"><a href="doctors.html" class="nav-link">evenement</a></li>
              <li class="nav-item"><a href="../facture/front" class="nav-link">facture</a></li>
              <li class="nav-item"><a href="../rendezvous/front" class="nav-link">rendez-vous</a></li>
              <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>
              <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
              <li class="nav-item cta"><a href="{{ path('app_rendezvous_newfront') }}" class="nav-link" data-toggle="modal" data-target="{{ path('app_rendezvous_newfront') }}"><span>prendre un rendez-vous</span></a></li>
            </ul>
          </div>
        </div>
      </nav>
    <!-- END nav -->
 
    <script>
        function PrintElem(elem)
{
    var mywindow = window.open('', 'PRINT', 'height=500,width=700');

    mywindow.document.write('<html><head><title>' + document.title  + '</title>\n');
    mywindow.document.write('</head><body >');
    mywindow.document.write('<h1>' + document.title  + '</h1>');
  

  mywindow.document.write('<img src="{{asset('/rr.png') }}"  style=" width:60px; height:60px;" alt="Description de votre image"></br>');
   // mywindow.document.write(<img src="{{ asset ('/rr.png')}}"/>);
    mywindow.document.write(document.getElementById('affichage').innerHTML);
    mywindow.document.write('</body></html>');
    

    

    mywindow.document.close(); // necessary for IE >= 10
    mywindow.focus(); // necessary for IE >= 10*/

    mywindow.print();
    mywindow.close();

    return true;
}
    </script>
 

    <section class="home-slider owl-carousel">
      <div class="slider-item" style="background-image: url('{{asset('assetsF/images/bg_1.jpg')}}');">
        <div class="overlay"></div>
        <div class="container">
          <div class="row slider-text align-items-center" data-scrollax-parent="true">
            <div class="col-md-6 col-sm-12 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
              <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Modern Dentistry in a Calm and Relaxed Environment</h1>
              <p class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
              <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><a href="{{ path('app_rendezvous_newfront') }}"class="btn btn-primary px-4 py-3">prendre un rendez-vous</a></p>
            </div>
          </div>
        </div>
      </div>


      <div class="slider-item" style="background-image: url('{{asset('assetsF/images/bg_2.jpg')}}');">
        <div class="overlay"></div>
        <div class="container">
          <div class="row slider-text align-items-center" data-scrollax-parent="true">
            <div class="col-md-6 col-sm-12 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
              <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Modern Achieve Your Desired Perfect Smile</h1>
              <p class="mb-4">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
              <p><a href="{{ path('app_rendezvous_newfront') }}" class="btn btn-primary px-4 py-3">prendre un rendez-vous</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>


            {% block body %} {% endblock %}
 <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

  <!-- Modal -->
  <div class="modal fade" id="modalRequest" tabindex="-1" role="dialog" aria-labelledby="modalRequestLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalRequestLabel">prendre un rendez-vous</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="#">
            <div class="form-group">
              <!-- <label for="appointment_name" class="text-black">Full Name</label> -->
              <input type="text" class="form-control" id="appointment_name" placeholder="Full Name">
            </div>
            <div class="form-group">
              <!-- <label for="appointment_email" class="text-black">Email</label> -->
              <input type="text" class="form-control" id="appointment_email" placeholder="Email">
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <!-- <label for="appointment_date" class="text-black">Date</label> -->
                  <input type="text" class="form-control appointment_date" placeholder="Date">
                </div>    
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <!-- <label for="appointment_time" class="text-black">Time</label> -->
                  <input type="text" class="form-control appointment_time" placeholder="Time">
                </div>
              </div>
            </div>
            

            <div class="form-group">
              <!-- <label for="appointment_message" class="text-black">Message</label> -->
              <textarea name="" id="appointment_message" class="form-control" cols="30" rows="10" placeholder="Message"></textarea>
            </div>
            <div class="form-group">
              <input type="submit" value="prendre un rendez-vous" class="btn btn-primary">
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>
              



  <script src="{{asset('assetsF/js/jquery.min.js')}}"></script>
  <script src="{{asset('assetsF/js/jquery-migrate-3.0.1.min.js')}}"></script>
  <script src="{{asset('assetsF/js/popper.min.js')}}"></script>
  <script src="{{asset('assetsF/js/bootstrap.min.js')}}"></script>
  <script src="{{asset('assetsF/js/jquery.easing.1.3.js')}}"></script>
  <script src="{{asset('assetsF/js/jquery.waypoints.min.js')}}"></script>
  <script src="{{asset('assetsF/js/jquery.stellar.min.js')}}"></script>
  <script src="{{asset('assetsF/js/owl.carousel.min.js')}}"></script>
  <script src="{{asset('assetsF/js/jquery.magnific-popup.min.js')}}"></script>
  <script src="{{asset('assetsF/js/aos.js')}}"></script>
  <script src="{{asset('assetsF/js/jquery.animateNumber.min.js')}}"></script>
  <script src="{{asset('assetsF/js/bootstrap-datepicker.js')}}"></script>
  <script src="{{asset('assetsF/js/jquery.timepicker.min.js')}}"></script>
  <script src="{{asset('assetsF/js/scrollax.min.js')}}"></script>
  <script src="{{asset('assetsF/https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false')}}"></script>
  <script src="{{asset('assetsF/js/google-map.js')}}"></script>
  <script src="{{asset('assetsF/js/main.js')}}"></script>
</body>

</html>